<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:head>
        <title>Contact List</title>
    </h:head>
    <h:body>
        <h:form id="form" enctype="multipart/form-data">
            <p:growl id="growl" autoUpdate="true" showDetail="true"/>
            <p:panel header="Nhập dữ liệu công nợ">
                <!--<f:facet name="header">-->
                <!---->
                <!--</f:facet>-->
                <div class="ui-g">
                    <div class="ui-g-12" align="center">
                        <h:outputText value="File dữ liệu: #{importDebtDataView.file.fileName}" for="file"
                                      id="fileLabel"/>
                        <p:fileUpload id="file" value="#{importDebtDataView.file}" mode="advanced"
                                      uploadLabel="Tải lên" cancelLabel="Đóng" label="Chọn file"
                                      multiple="false" auto="true"
                                      fileUploadListener="#{importDebtDataView.uploadFile}"
                                      update="fileLabel"/>
                    </div>
                </div>
                <div class="ui-g" align="center">
                    <div class="ui-g-12" align="center">
                        <p:commandButton value="Xem trước" actionListener="#{importDebtDataView.showDataToGrip}"/>
                        <p:commandButton value="Nhập dữ liệu"/>
                    </div>
                </div>
                <!--<p:separator/>-->
                <div class="ui-g">
                    <p:dataTable value="#{importDebtDataView.debtTempList}" var="item" rowIndexVar="i">
                        <!--<p:column selectionMode="multiple" style="text-align:center; font-color:red;" width="5%"/>-->
                        <p:column headerText="No" width="5%" style="text-align: center">
                            <h:outputText value="#{i}"/>
                        </p:column>
                        <p:column headerText="ERP code">
                            <h:outputText value="#{item.erpCode}"/>
                        </p:column>
                        <p:column headerText="Ten doi tac">
                            <h:outputText value="#{item.partnerName}"/>
                        </p:column>
                        <p:column headerText="Date" style="text-align: center">
                            <h:outputText value="#{item.dataDate}">
                                <f:convertDateTime pattern="dd/MM/yy HH:mm"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Ben A con no ben B">
                            <div style="text-align: center">
                                <h:outputText value="#{item.dataType == 0 ? item.amount : 0}"/>
                            </div>
                        </p:column>
                        <p:column headerText="Ben B con no ben A">
                            <div style="text-align: center">
                                <h:outputText value="#{item.dataType == 1 ? item.amount : 0}"/>
                            </div>
                        </p:column>
                    </p:dataTable>
                </div>
                <div class="ui-g" style="padding:5px; text-align: center">

                </div>
            </p:panel>
            <p:dialog header="Dialog" widgetVar="dialog" id="result">
                <p:panel>

                </p:panel>
            </p:dialog>
        </h:form>

    </h:body>
</f:view>
</html>
