<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <link href="#{request.contextPath}/css/simple.css" rel="stylesheet" type="text/css"/>
</h:head>
<h:body>
    <h:form id="form">
        <p:growl id="growl" autoUpdate="true"/>
        <h2>Ky Bien Ban Doi Chieu</h2>
        <div class="ui-g-6">
            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                <p:outputLabel for="nguoinhap" value="#{bundle['application.user1']}"/>
                <p:selectOneMenu id="nguoinhap" value="" style="width:125px">
                    <f:selectItem itemLabel="Nguoi nhap cong no" itemValue=""/>
                    <f:selectItem itemLabel="one" itemValue="One"/>
                    <f:selectItem itemLabel="two" itemValue="Two"/>
                    <f:selectItem itemLabel="three" itemValue="Three"/>
                </p:selectOneMenu>
                <p:outputLabel for="ERP" value="#{bundle['application.ERP']}"/>
                <p:inputText id="ERP"/>
            </h:panelGrid>
        </div>
        <div class="ui-g-5">
            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                <p:outputLabel for="date" value="#{bundle['application.Date']}"/>
                <p:calendar id="date" showOn="button"></p:calendar>
                <p:outputLabel for="parter" value="#{bundle['application.parterName']}"/>
                <p:inputText id="parter"></p:inputText>
            </h:panelGrid>
        </div>
        <div class="ui-g-12" align="center">
            <h:panelGrid columns="3">
                <p:commandButton value="Tim Kiem" icon="ui-icon-search" styleClass="ui-priority-primary" actionListener="#{notif.saveMessage}"/>
                <p:commandButton value="Lam Moi"/>
                <p:commandButton value="Bien Ban Da Ky"/>
            </h:panelGrid>
        </div>
        <div class="ui-g-12">
            <p:dataTable id="datatable" var="entry" value="#{dpparter.entries}" selection="${dpparter.entrySelect}" rowKey="#{entry.ERP}" sortMode="multiple" rowIndexVar="index">
                <p:column headerText="STT" sortBy="#{index+1}">
                    <h:outputText value="#{index+1}"/>
                </p:column>
                <p:column headerText="Ngay So Lieu" sortBy="#{entry.date}">
                    <h:outputText value="#{entry.date}"/>
                </p:column>
                <p:column headerText="Ma ERP" sortBy="#{entry.ERP}">
                    <h:outputText value="#{entry.ERP}"/>
                </p:column>
                <p:column headerText="Ten Doi Tac" sortBy="#{entry.parter}">
                    <h:outputText value="#{entry.parter}"/>
                </p:column>
                <p:column headerText="Tong Tien" sortBy="#{entry.money}">
                    <h:outputText value="#{entry.money}"/>
                </p:column>
                <p:column headerText="Loai Du Lieu" sortBy="#{entry.type}">
                    <h:outputText value="#{entry.type ==1? 'A no B' : 'B no A'}"/>
                </p:column>
                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
            </p:dataTable>
        </div>
        <div class="ui-g-12" align="center">
            <p:commandButton value="Xem Bien Ban" process="datatable" update=":form:multislDetail"   oncomplete="PF('multiDetail').show()"/>

            <p:commandButton value="Ky" actionListener="#{notif.saveMessage}" update=":form:growl">
                <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
            </p:commandButton>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

            <p:dialog header="Selected " widgetVar="multiDetail" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="200">
                <p:outputPanel id="multislDetail" style="text-align:center;">
                    <ui:repeat value="#{dpparter.entrySelect}" var="entry">
                        <h:outputText value="#{entry.ERP}" style="display:block"/>
                    </ui:repeat>
                </p:outputPanel>
            </p:dialog>
        </div>
    </h:form>

</h:body>
</html>

